<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<style>
		 .icon {
		  width: 1.5em;
		  height: 1.5em;
		  vertical-align: -0.15em;
		  fill: currentColor;
		  position:relative;
		  right: 3px;
		  top:3px;
		  
		} 
	</style>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="穷在闹市" />
		<!-- 作者 -->
		<meta name="revised" content="穷在闹市.v3, 2019/05/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>游泳馆后台管理系统</title>

		<!-- 公共样式 开始 -->
		<link rel="shortcut icon" href="../images/favicon.ico"/>
		<link rel="bookmark" href="../images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="../css/base.css">
		<link rel="stylesheet" type="text/css" href="../fonts/iconfont.css">
		<script type="text/javascript" src="../js/iconfont.js"></script>
		<script type="text/javascript" src="../framework/jquery-1.11.3.min.js" ></script>
		<script type="text/javascript" src="../js/base.js"></script>
		<link rel="stylesheet" type="text/css" href="../layui/css/layui.css">
	    <!--[if lt IE 9]>
	      	<script src="framework/html5shiv.min.js"></script>
	      	<script src="framework/respond.min.js"></script>
	    <![endif]-->
		<script type="text/javascript" src="../layui/layui.js"></script>
		<script src="../framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		
		<link rel="stylesheet" type="text/css" href="../css/frameStyle.css">
		<script type="text/javascript" src="../framework/frame.js" ></script>
		
	</head>

	<body>

		<!-- 左侧菜单 - 开始 -->
		<div class="frameMenu">
		    <div class="logo">
		        <img src="../images/logo.png"/>
		        <div class="logoText">
		            <h1>游泳馆后台管理系统</h1>
		        </div>
		    </div>
		    <div class="menu" style="top:50px;">
		    	<div class="hoverBox"></div>
		        <ul>
<!--		        	<li>-->
<!--		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('tgls/qdAPI.html',this, 'page10001')"><i class="iconfont icon-zhishi left" onmouseenter="getLeftTips(this, '前端API')" onmouseleave="layer.closeAll('tips')"></i><font>前端API</font></a>-->
<!--		            </li>-->
<!--		        	<li>-->
<!--		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('tgls/iconfont.html',this, 'page10002')"><i class="iconfont icon-huojian left" onmouseenter="getLeftTips(this, 'iconfont字体库')" onmouseleave="layer.closeAll('tips')"></i><font>iconfont字体库</font></a>-->
<!--		            </li>-->
		        	<li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-shangpin left" onmouseenter="getLeftTips(this, '购买商品')" onmouseleave="layer.closeAll('tips')"></i><font>购买商品</font><i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/user/goods-list.html',this, 'page10022')">商品列表</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/user/cost-history.html',this, 'page10023')">支出记录</a></dt>
<!--							<dt><a href="javascript:void(0)" onclick="menuCAClick('/user-management/user-recharge.html;',this, 'page10029')">充值管理</a></dt>-->
		                </dl>
		            </li>
		        	<li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-icon left" onmouseenter="getLeftTips(this, '记录查询')" onmouseleave="layer.closeAll('tips')"></i><font>记录查询</font><i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/user/swim-history.html',this, 'page10033')">游泳记录</a></dt>
							<dt><a href="javascript:void(0)" onclick="menuCAClick('/user/points-history.html',this, 'page10034')">积分记录</a></dt>
							<dt><a href="javascript:void(0)" onclick="menuCAClick('/user/lottery-history.html',this, 'page10035')">抽奖记录</a></dt>

						</dl>
		           	</li>
		        </ul>
		    </div>
		</div>
		<!-- 左侧菜单 - 结束 -->
		
		<div class="main">
			<!-- 头部栏 - 开始 -->
			<div class="frameTop">
				<div class="shrinkBut">
		    		<div class="hoverBox"></div>
					<ul>
						<li><a href="javascript:void(0)" onclick="menuShrink(this)" onmouseenter="getTips(this, '收缩菜单')" onmouseleave="layer.closeAll('tips')"><i class="iconfont icon-caidan-shousuo"></i></a></li>
						<li><a href="javascript:void(0)" onclick="frameRefresh()" onmouseenter="getTips(this, '刷新')" onmouseleave="layer.closeAll('tips')"><i class="iconfont icon-htmal5icon23"></i></a></li>
					</ul>
						<p id="test2" style="position: absolute; left:850px;bottom:15px; "></p>
				</div>
				<div class="topMenu">
		    		<div class="hoverBox"></div>
					<ul>
<!--						<li><a href="javascript:void(0)" onclick="menuCAClick('tgls/modify_password.html',this, 'pageNotice', '通知公告')" onmouseenter="getTips(this, '通知公告')" onmouseleave="layer.closeAll('tips')"><i class="iconfont icon-tongzhigonggao1"></i><span class="news"></span></a></li>-->
						<li><a href="javascript:void(0)" id="fullScreenBut" onclick="fullScreen('fullScreenBut')" onmouseenter="getTips(this, '全屏')" onmouseleave="layer.closeAll('tips')"><i class="iconfont icon-full-screen"></i></a></li>
						<li>
							<a href="javascript:void(0)"><font th:text="'欢迎您,'+${session.user.username}"></font><i class="iconfont icon-up-copy"></i></a>
							<dl>
								<dt><a href="javascript:void(0)" onclick="menuCAClick('/user/select_account.html',this, 'pageAccount')">我的账户</a></dt>
			                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/user/modify_userInfo.html',this, 'pageUserInfo')">基本资料</a></dt>
			                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/user/modify_password.html',this, 'pageModifyPassword')">修改密码</a></dt>
			                </dl>
						</li>
						<li><a id="exitLogin" href="/login/exit" onmouseenter="getTips(this, '退出系统')" onmouseleave="layer.closeAll('tips')"><i class="iconfont icon-084tuichu"></i></a></li>
					</ul>
				</div>
			</div>
			<!-- 头部栏 - 结束 -->
			
			<!-- 核心区域 - 开始 -->
			<div class="frameMain">
				<div class="title" id="frameMainTitle">
					<i class="iconfont icon-shuangzuojiantou- leftbut" onclick="pageShow('l')"></i>
					<div class="mainPageBox">
						<div class="mainPage">
							<span class="active" onclick="pageSwitch(this)">
			    				<div class="hoverBox"></div>
								<i class="iconfont icon-shouye"></i>
							</span>
						</div>
					</div>
					<i class="iconfont icon-shuangyoujiantou- rightbut" onclick="pageShow('r')"></i>
					<i class="iconfont icon-iconfontarrows1 rightbut pageAllBut">
						<dl>
		                	<dt><a href="javascript:void(0)" onclick="nowpageClose()">关闭当前标签页</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="otherpageClose()">关闭其它标签页</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="allpageClose()">关闭全部标签页</a></dt>
		                </dl>
					</i>
				</div>
				<div class="con">
					<div class="mainPageCon">
<!--						<iframe class="mainIframe" src="../index-main.html" scrolling="yes"></iframe>-->
					</div>
				</div>
			</div>
			<!-- 核心区域 - 结束 -->
		</div>
	</body>
	<script type="text/javascript">
		$(function(){
			//时间计时器
			setInterval(function(){
			    $("#test2").html(getDate());
			},500);
		})
	</script>

</html>