<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.swim.dao.IIncomeMapper" >

    <select id="getAllIncomeHistoryByIdOrTime"  resultType="com.swim.entity.IncomeHistory">
        select * from income_history
        <where>
        1=1
            <if test="id!='' and id!=null">
               and id=#{id}
            </if>
            <if test=" startTime!='' and startTime!=null and endTime!='' and endTime!=null ">
                and DATEDIFF(time,#{startTime})&gt;=0 and DATEDIFF(time,#{endTime}) &lt;=0
            </if>
        </where>
        LIMIT ${start},${limit}
    </select>

    <select id="getAllIncomeHistoryCountByIdOrTime"  resultType="int">
        select count(income_id) from income_history
        <where>
        1=1
            <if test="id!='' and id!=null">
               and id=#{id}
            </if>
            <if test=" start!='' and start!=null and end!='' and end!=null ">
                and DATEDIFF(time,#{start})&gt;=0 and DATEDIFF(time,#{end}) &lt;=0
            </if>
        </where>
    </select>
</mapper>
