<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>商品列表</title>
	<link rel="stylesheet" href="/layui/css/layui.css" media="all">
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/fonts/iconfont.css">
	<script type="text/javascript" src="/framework/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/layui/layui.js"></script>
	<script src="/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
<!--	<link href="/css/bootstrap.min.css" rel="stylesheet">-->
<!--	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">-->
	<style>
		.layui-table-view{
			top:20px;
		}
		.layui-form-select{
			width: 100px;
		}
	</style>
</head>
<body>


<table id="demo" lay-filter="test" style="position: relative;top:100px;">

</table>

<script src="/layui/layui.js"></script>
<script th:inline="none">
	layui.use('table', function(){
		var table = layui.table;
		//第一个实例
		table.render({
			elem: '#demo'
			,height: 485
			,url: '/user/goodsList' //数据接口
			,response: {
				statusName: 'status' //规定数据状态的字段名称，默认：code
				,statusCode: 200 //规定成功的状态码，默认：0
				,countName: 'count' //规定数据总数的字段名称，默认：count
				,dataName: 'data' //规定数据列表的字段名称，默认：data
			}
			,page: true //开启分页
			,cols: [[ //表头
				{field: 'goodsId', title: '商品ID', width:100, align:'center'}
				,{field: 'goodsName', title: '商品名', width:140, align:'center'}
				,{field: 'goodsMessage', title: '商品信息', width:220, align:'center',templet: function(d){
						return d.goodsMessage;
					}}
				,{field: 'goodsPrice', title: '价格', width:80, align:'center',templet: function(d){
						return d.goodsPrice;
					}}
				,{field: 'goodsType', title: '商品类型', width:104, align:'center',templet: function(d){
						if(d.goodsType==1){
							return "会员";
						}else if(d.goodsType==2){
							return "游泳次数";
						}else if(d.goodsType==3){
							return "游泳计时";
						}else if(d.goodsType==4){
							return "押金";
						}
					}}
				,{fixed: 'right',title:'操作',width:100, align:'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
			]]
		});
		table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
			var data = obj.data; //获得当前行数据
			var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
			var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
			console.log(data);
			if(layEvent === 'detail'){ //查看
				//do somehing
			} else if(layEvent === 'del'){ //删除

			} else if(layEvent === 'edit'){ //修改
				//注意：parent 是 JS 自带的全局对象，可用于操作父页面
				layer.confirm('确定要购买该商品吗？', function(index){
					$.ajax({					//向服务端发送删除指令
						type : "post",
						url : "/user/buyGoods",
						data : {"goodsId":data.goodsId},
						async : true,
						success : function(data) {
							if(data.status==true){
								layer.alert(data.msg, {icon: 1});
							}else{
								layer.alert(data.msg, {icon: 5});
							}
						}
					});
					layer.close(index);
				});
				var index = parent.layer.getFrameIndex(window.name); //获取窗口索引

			}
		});
	});

	function dateFormat(longTime) {
		if(longTime==null){
			return "不是会员";
		}
		var date = new Date(longTime);
		var day = ("0" + date.getDate()).slice(-2);
		var month = ("0" + (date.getMonth() + 1)).slice(-2);
		var today = date.getFullYear() + "-" + (month) + "-" + (day);
		return today;
	}
	function datetimeFormat(longTime){
		var dateTypeDate = "";
		var date = new Date(longTime);
		dateTypeDate += date.getFullYear();   //年
		dateTypeDate += "-" + ("0" + (date.getMonth() + 1)).slice(-2); //月
		dateTypeDate += "-" + ("0" + date.getDate()).slice(-2);   //日
		dateTypeDate += " " + ("0"+date.getHours(date)).slice(-2);   //时
		dateTypeDate += ":" + ("0"+date.getMinutes(date)).slice(-2);     //分
		dateTypeDate += ":" + ("0"+date.getSeconds(date)).slice(-2);     //分
		return dateTypeDate;
	}
</script>
<script type="text/html" id="barDemo">
<!--	<a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>-->
	<a class="layui-btn layui-btn-xs" lay-event="edit">购买</a>
<!--	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->

	<!-- 这里同样支持 laytpl 语法，如： -->
	{{#  if(d.auth > 2){ }}
	<a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
	{{#  } }}
</script>
</body>
</html>