<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
    <meta name="renderer" content="webkit">
    <!--国产浏览器高速模式-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="穷在闹市" />
    <!-- 作者 -->
    <meta name="revised" content="穷在闹市.v3, 2019/05/01" />
    <!-- 定义页面的最新版本 -->
    <meta name="description" content="网站简介" />
    <!-- 网站简介 -->
    <meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
    <title>穷在闹市出品</title>

    <!-- 公共样式 开始 -->
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/fonts/iconfont.css">
    <script type="text/javascript" src="/framework/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <script type="text/javascript" src="/layui/layui.js"></script>
    <script src="/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
    <!-- 公共样式 结束 -->

</head>

<body>
<div class="cBody">
    <form class=""  >
        <div class="layui-form-item">
            <label class="layui-form-label">我的id: </label>
            <div class="layui-input-inline shortInput">
                <input th:value="${session.user.userMessage.id}" type="text" disabled="disabled" style="border: 0;" name="id" required lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline shortInput">
                <input th:value="${session.user.userMessage.name}" disabled="disabled" type="text" name="name"  lay-verify="required" autocomplete="off" class="layui-input a" maxlength="5">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline shortInput" style="margin-right: 0; padding-right: 0; top:8px;">
                <label id="sex" style="display: none" th:text="${session.user.userMessage.sex}"></label>
                <input type="radio" id="man"  name="sex" value="男"   class="a"/>男&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="woman" name="sex" value="女"  class="a" style="position: relative; left:35px;"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;女
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出生日期</label>
            <div class="layui-input-inline shortInput">
                <input type="date" th:value="${session.user.userMessage.birthday}"   disabled="disabled" name="birthday" required lay-verify="required" autocomplete="off" class="layui-input a" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-inline shortInput">
                <input th:value="${session.user.userMessage.phoneNumber}"   disabled="disabled" name="phoneNumber" required lay-verify="required" autocomplete="off" class="layui-input a" oninput="this.value=this.value.replace(/\D/g,'')" maxlength="11">
            </div>
        </div>
        <button id="alter"  style="display: none;" class="layui-btn layui-btn-primary ready-alter"></button>
    </form>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-primary ready-alter">修改</button>
            <button disabled="disabled" id="alterUser-btn" class="layui-btn" >确认修改</button>
        </div>
    </div>

    <script>
        window.onload=function(){
            $(function(){
                //得到当前时间
                var date_now = new Date();
                //得到当前年份
                var year = date_now.getFullYear();
                //得到当前月份
                //注：
                //  1：js中获取Date中的month时，会比当前月份少一个月，所以这里需要先加一
                //  2: 判断当前月份是否小于10，如果小于，那么就在月份的前面加一个 '0' ， 如果大于，就显示当前月份
                var month = date_now.getMonth()+1 < 10 ? "0"+(date_now.getMonth()+1) : (date_now.getMonth()+1);
                //得到当前日子（多少号）
                var date = date_now.getDate() < 10 ? "0"+date_now.getDate() : date_now.getDate();
                //设置input标签的max属性
                // $("input[name=birthday]").attr("max",year-1+"-"+month+"-"+date);
                $("input[name=birthday]").attr("max",year-1+"-"+12+"-"+31);
            });

            session();
            if($("#sex").html()=="男"){
                $("#man").attr("checked",true);
            }else if($("#sex").html()=="女"){
                $("#woman").attr("checked",true);
            }

            $("input[name=sex]").attr("disabled", "disabled");
            $(".ready-alter").click(function(){
                $(".a").removeAttr("disabled");
                $("#alterUser-btn").removeAttr("disabled");
                $("#alterUser-btn").unbind().click(function(){
                    if($("input[name=name]").val().length<1){
                        layer.msg('姓名不能为空！', {
                            icon: 2,
                            time: 1000
                        });

                    }else if($("input[name=birthday]").val().length<1){
                        layer.msg('出生日期有误！', {
                            icon: 2,
                            time: 1000
                        });
                    }else if($("input[name=phoneNumber]").val().length<1){
                        layer.msg('电话号码不能为空！', {
                            icon: 2,
                            time: 1000
                        });
                    }else{

                        $.ajax({
                            type : "post",
                            url : "/user/alterUserInfo",
                            data : {"id":$("input[name=id]").val(),
                                "name":$("input[name=name]").val(),
                                "sex":$("input[name=sex]:checked").val(),
                                "birthday":$("input[name=birthday]").val(),
                                "phoneNumber":$("input[name=phoneNumber]").val()},
                            async : true,
                            success : function(data) {
                                if(data=="1"){
                                    layer.alert('修改成功！', {icon: 1}, function(index){
                                        layer.close(index);
                                        location.replace(location.href);
                                    });
                                }else{
                                    layer.alert('修改失败，请重试！', {icon: 5});
                                }
                            }

                        });
                    }
                });
            });



            function session() {
                // if($("input[name=id]").val()==""){
                //     window.location.href = "http://127.0.0.1:8080/Swim/login.jsp";
                // }
            }

            function compare(a) {//比较日期，false对应输入日期早于当前日期
                if (a != null) {//日期不为空
                    var today = new Date();
                    var myday = a.split("-");
                    var myyear = myday[0];//用户的会员到期年份
                    var mymonth = myday[1];//用户的会员到期月份
                    var myday = myday[2];//用户的会员到期日期
                    if (today.getFullYear() < myyear) {//当前年份小于到期年份
                        return true;
                    } else if (today.getFullYear() > myyear) {//当前年份大于到期年份
                        return false;
                    }

                    if (today.getMonth() + 1 < mymonth) {
                        return true;
                    } else if (today.getMonth() + 1 > mymonth) {
                        return false;
                    }

                    if (today.getDate() <= myday) {
                        return true;
                    }
                    return false;
                }
                return false;//日期为空直接为false
            }

        }


    </script>

</div>
</body>

</html>