<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>收入记录</title>
	<link rel="stylesheet" href="/layui/css/layui.css" media="all">
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/fonts/iconfont.css">
	<script type="text/javascript" src="/framework/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/layui/layui.js"></script>
	<script src="/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
<!--	<link href="/css/bootstrap.min.css" rel="stylesheet">-->
<!--	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">-->
	<style>
		.layui-table-view{
			top:-113px;
		}
		.layui-form-select{
			width: 100px;
		}
	</style>
</head>
<body>

<form class="layui-form" action="" style="position: relative;top:10px;">
	<div class="cBody">
		<div class="layui-input-inline" style="position: relative;left: 15px;">
			<input type="text" name="id" id="id"
				   placeholder="输入用户id" autocomplete="off" class="layui-input"  style="position: relative;width: 150px;">
		</div>
		<div class="console" style="position: relative;top:-38px;left: 180px;">
			<form class="layui-form" action="">
				<div class="layui-form-item">
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="time" placeholder=" 请选定日期区间 ">
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline" style="width: 50px;">
		</div>
	</div>
	<div class="layui-form-item" style="position: relative;top:-58px;left:305px; margin-left: 30px;">
		<div class="layui-input-block" style="margin: 0px; position: relative;top: -38px;left: 130px;">
			<p id="select" class="layui-btn" onsubmit='return false' style="position: relative;top: -30px;left: -60px;">确定</p>
		</div>
	</div>
</form>
<table id="demo" lay-filter="test" style="position: relative;">

</table>
<script>
	layui.use(['form','laydate', 'layer', 'laypage'], function() {
		var form = layui.form;
		var laydate = layui.laydate;
		var laypage = layui.laypage,
				layer = layui.layer;
		//监听提交
		form.on('submit(submitBut)', function(data) {
			layer.msg(JSON.stringify(data.field));
			return false;
		});
		laydate.render({
			elem: '#time'
			,range: true
		});
	});
</script>
<!--<script src="/layui/layui.js"></script>-->
<script th:inline="none">
	window.onload=function () {
		$("#select").click(function () {
			var id=$("#id").val();
			var str=$("#time").val();
			if(str==""||str==null){
				selectByType(id,"","");
			}
			var temp=str.split("-");
			var start=temp[0].trim()+"-"+temp[1].trim()+"-"+temp[2].trim();
			var end=temp[3].trim()+"-"+temp[4].trim()+"-"+temp[5].trim();
			selectByType(id,start,end);
		});
		// layui.use('form', function(){
		// 	var form = layui.form;
		// 	//监听提交
		// 	form.on('submit(formDemo)', function(data){
		// 		return false;
		// 	});
		// });
	}

	layui.use('table', function(){
		var table = layui.table;
		//第一个实例
		table.render({
			elem: '#demo'
			,height: 485
			,url: '/history-search/getIncomeHistory' //数据接口
			,response: {
				statusName: 'status' //规定数据状态的字段名称，默认：code
				,statusCode: 200 //规定成功的状态码，默认：0
				,countName: 'count' //规定数据总数的字段名称，默认：count
				,dataName: 'data' //规定数据列表的字段名称，默认：data
			}
			,page: true //开启分页
			,cols: [[ //表头
				{field: 'incomeId', title: '收入编号', width:90, align:'center',templet: function(d){
						return d.incomeId;
					}}
				,{field: 'id', title: '用户id', width:90, align:'center',templet: function(d){
						return d.id;
					}}
				,{field: 'source', title: '来源', width:150, align:'center',templet: function(d){
						return d.source;
					}}
				,{field: 'incomeMoney', title: '金额', width:100, align:'center',templet: function(d){
						return d.incomeMoney;
					}}
				,{field: 'time', title: '发生时间', width:180, align:'center',templet: function(d){
						return datetimeFormat(d.time);
					}}
				// ,{fixed: 'right',title:'操作',width:140, align:'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
			]]
		});
		table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
			var data = obj.data; //获得当前行数据
			var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
			var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
			console.log(data);
			if(layEvent === 'detail'){ //查看
			} else if(layEvent === 'del'){ //删除
			} else if(layEvent === 'edit'){ //编辑
			}
		});
	});

	function dateFormat(longTime) {
		if(longTime==null){
			return "不是会员";
		}
		var date = new Date(longTime);
		var day = ("0" + date.getDate()).slice(-2);
		var month = ("0" + (date.getMonth() + 1)).slice(-2);
		var today = date.getFullYear() + "-" + (month) + "-" + (day);
		return today;
	}
	function datetimeFormat(longTime){
	    if(longTime==null){
	        return "";
        }
		var dateTypeDate = "";
		var date = new Date(longTime);
		dateTypeDate += date.getFullYear();   //年
		dateTypeDate += "-" + ("0" + (date.getMonth() + 1)).slice(-2); //月
		dateTypeDate += "-" + ("0" + date.getDate()).slice(-2);   //日
		dateTypeDate += " " + ("0"+date.getHours(date)).slice(-2);   //时
		dateTypeDate += ":" + ("0"+date.getMinutes(date)).slice(-2);     //分
		dateTypeDate += ":" + ("0"+date.getSeconds(date)).slice(-2);     //分
		return dateTypeDate;
	}

	function selectByType(id,start,end) {
		layui.use('table', function(){
			var table = layui.table;
			//第一个实例
			table.render({
				elem: '#demo'
				,height: 485
				,url: '/history-search/getIncomeHistoryByIdOrTime?id='+id+'&start='+start+'&end='+end //数据接口
				,response: {
					statusName: 'status' //规定数据状态的字段名称，默认：code
					,statusCode: 200 //规定成功的状态码，默认：0
					,countName: 'count' //规定数据总数的字段名称，默认：count
					,dataName: 'data' //规定数据列表的字段名称，默认：data
				}
				,page: true //开启分页
				,cols: [[ //表头
					{field: 'incomeId', title: '收入编号', width:90, align:'center',templet: function(d){
							return d.incomeId;
						}}
					,{field: 'id', title: '用户id', width:90, align:'center',templet: function(d){
							return d.id;
						}}
					,{field: 'source', title: '来源', width:150, align:'center',templet: function(d){
							return d.source;
						}}
					,{field: 'incomeMoney', title: '金额', width:100, align:'center',templet: function(d){
							return d.incomeMoney;
						}}
					,{field: 'time', title: '发生时间', width:180, align:'center',templet: function(d){
							return datetimeFormat(d.time);
						}}
					// ,{fixed: 'right',title:'操作',width:140, align:'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
				]]
			});
			table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
				var data = obj.data; //获得当前行数据
				var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
				var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
				console.log(data);
				if(layEvent === 'detail'){ //查看
				} else if(layEvent === 'del'){ //删除
				} else if(layEvent === 'edit'){ //编辑
				}
			});
		});
	}
</script>
<script type="text/html" id="barDemo">
<!--	<a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>-->
<!--	<a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>-->
<!--	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->

	<!-- 这里同样支持 laytpl 语法，如： -->
	{{#  if(d.auth > 2){ }}
	<a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
	{{#  } }}
</script>
</body>
</html>